POSTGRES_USER=santa
POSTGRES_PASSWORD=santa_pass
POSTGRES_DB=santagym
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
JWT_SECRET=generate_strong_secret_key_here
# В прод окружении тут будет реальный домен
WEBHOOK_URL=https://api.santagym.local/api/v1/webhook

FRONTEND_URL=https://gym.santariver.lol
