POSTGRES_USER=santa
POSTGRES_PASSWORD=change_me
POSTGRES_DB=santagym_dev
JWT_SECRET=change_me
BOT_TOKEN=telegram_dev_bot_token
WEBAPP_BASE_URL=https://dev.gym.santariver.lol
WEBHOOK_URL=https://dev-api.gym.santariver.lol/api/v1/webhook
FRONTEND_URL=https://dev.gym.santariver.lol
FRONTEND_HOST=dev.gym.santariver.lol
API_HOST=dev-api.gym.santariver.lol
TRAEFIK_ROUTER_PREFIX=santagym-dev
TRAEFIK_ACME_EMAIL=admin@santariver.lol
DEBUG=false
